body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: inline;
  text-align: center;
}

#about-me-title {
  text-align: center;
}

.about-me-image {
  width: 50%;
  height: 50%;
}

footer {
  display: inline;
  text-align: center;
}

.footer-icon{
  height: 50px;
  width: 50px;
}

ul {
  display: inline-block;
  list-style: none;
}

#main-contact {
  text-align: center;
}

#contact-methods {
  text-align: center;
  list-style: none;
}